.cl-review-diagram {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    touch-action: none;
}

.cl-review-diagram img {
    display: block;
    width: 100%;
    height: 100%;
}

.cl-review-diagram svg {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.cl-review-diagram canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 2;
}


/* .sliders {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-5%, 5%);
    width: 250px;
    height: 60px;
    display: inline-block;

    z-index: 3;
}

svg {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    pointer-events: all;
    touch-action: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

}

path {
    pointer-events: all;
}

.slider {
    vertical-align: bottom;
}

.hue-slider {
    accent-color: 0;
} */