@import '~site-cl/sass/modules/colors';

div.cl-reviewing {
  td.cl-empty {
    background-color: $very-light-primary;
  }
}

p.cl-reviews-none {
  text-align: center;
  color: $primary;
  font-style: italic;
}

div.cl-reviews {

  h3 {
    text-align:center;
    background: $primary;
    color:white;
  }
}

div.cl-review {
  margin: 1em 0;

  h3 {
    font-size: 0.85em;
    font-style: italic;
    font-weight: normal;
    background: transparent;
    color: $primary;
    border-bottom: 1px solid $primary;
    text-align: left;

    span.cl-submitted {
      float: right;
      color: $seconda;
      font-size: 0.9em;
    }
  }


  h3.staff {
    color: red;
  }

  pre {
    margin: 0;
  }
}
